$page-background-color: #fafcfd;
$background-color: #ffffff;
$background-sub-color: #22222202;
$text-color: #222230;
$disabled-text-color: #49505799;
$border-color: #ced4da;
$border-focus-color: #2196f3;
$feed-background-color: #f1f2f3;
$board-column-background-color: #f9fafa;

$font-family: 'Montserrat', 'Roboto', 'Arial', sans-serif;
