@import './constants';

%std-shadow {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

%subtle-shadow {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

%std-tile {
  background-color: $background-color;
  @extend %std-shadow;
}
