<div class="article-holder">
  <ng-container *ngIf="article; then articleBody; else noArticle"></ng-container>
</div>

<ng-template #articleBody>
  <h3 class="p-text-capitalize">{{ article!.title }}</h3>
  <p-divider></p-divider>

  <p class="p-text-italic">{{ article!.summary }}</p>
  <p-divider></p-divider>

  <p>{{ article!.body }}</p>
  <p-divider></p-divider>

  <div class="buttons-container p-d-flex p-jc-end">
    <p-button
      [label]="'Создать отчет'"
      [icon]="icons.report"
      (click)="report()"
      styleClass="button p-button p-button-success"
    ></p-button>
  </div>
</ng-template>

<ng-template #noArticle>
  <p class="p-text-center p-text-bold">Выберите статью</p>
</ng-template>
