@import '~src/styles/style-import';

:host {
  display: block;
}

.board {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  background-color: $board-column-background-color;
  padding: 1rem;
  @extend %subtle-shadow;

  &:not(:last-child) {
    margin-right: 1rem;
  }

  .title {
    margin: 0 -0.5rem 1rem;
    font-weight: bold;
    padding: 0 0.5rem 0.5rem;
    border-bottom: 1px $text-color solid;
  }
}

.card {
  width: 100%;
  border-radius: 3px;
  background-color: $background-color;
  margin: 0.5rem 0;
  padding: 1rem;
  cursor: pointer;
  @extend %subtle-shadow;

  &:hover {
    background-color: darken($background-color, 3%);
    transition: all ease-out .2s;
  }
}
