<app-page-container [header]="'Мои запросы'">
  <p-tabView>
    <p-tabPanel [header]="'Таблица'">
      <app-view-requests-table [requests]="requests" (rowClicked)="showDialog($event)"></app-view-requests-table>
    </p-tabPanel>

    <p-tabPanel [header]="'Доска'">
      <app-view-requests-board
        [requests]="requestsForBoard"
        (cardClicked)="showDialog($event)"
      ></app-view-requests-board>
    </p-tabPanel>
  </p-tabView>
</app-page-container>

<app-request-dialog
  [currentRequestInfo]="currentRequestInfo"
  [currentUserInfo]="currentUserInfo"
  [(isDialogVisible)]="isDialogVisible"
  (submitFeed)="submitFeed($event)"
  (updateRequest)="updateRequest($event)"
  (createReport)="createReport($event)"
></app-request-dialog>
