<app-page-container [header]="'Пользователи'">
  <p-table
    #table
    [value]="users | slice: 0"
    dataKey="id"
    [rowHover]="true"
    [rows]="5"
    [paginator]="true"
    [globalFilterFields]="['email']"
  >
    <ng-template pTemplate="caption">
      <app-table-caption [table]="table"></app-table-caption>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem"></th>
        <th pSortableColumn="email">
          Логин (email)
          <p-sortIcon field="email"></p-sortIcon>
        </th>
        <th pSortableColumn="role">
          Роль
          <p-sortIcon field="role"></p-sortIcon>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-user let-expanded="expanded">
      <tr>
        <td style="padding: 0">
          <p-button
            *ngIf="isRowExpandableForUser(user)"
            styleClass="p-button-text p-button-rounded p-button-plain p-button-sm"
            [pRowToggler]="user"
            [icon]="expanded ? icons.collapse : icons.expand"
          ></p-button>
        </td>
        <td>{{ user.email }}</td>
        <td>{{ getUserRoleForUI(user) }}</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="rowexpansion" let-user>
      <tr class="inner-data">
        <td></td>
        <td [attr.colspan]="2">
          <p-tag *ngIf="user.profile.isVip" class="vip-tag" value="VIP" severity="warning" [icon]="icons.vip"></p-tag>

          <p class="p-text-bold p-text-capitalize">{{ user.profile.name }} {{ user.profile.surname }}</p>
          <p>
            <span class="p-text-italic">День рождения:</span>
            {{ user.profile.birthday | date }}
          </p>
          <p>
            <span class="p-text-italic">Адрес:</span>
            {{ user.profile.address }}
          </p>

          <p-button
            *ngIf="!user.profile.isVip"
            [label]="'Сделать VIP'"
            [icon]="icons.makeVip"
            (click)="makeVip(user)"
            styleClass="button p-button p-button-help p-button-outlined"
            class="make-vip-btn"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</app-page-container>
